<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rosinante24.firebaseauthentication"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/firebaseicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/firebaseicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FacebookLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GoogleLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EmailLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnonymousLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageAccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>